<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>675662814721-oo96dvuns1n2k4j2if359uh7b1t218s6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675662814721-oo96dvuns1n2k4j2if359uh7b1t218s6</string>
	<key>API_KEY</key>
	<string>AIzaSyB9auoyTVSg2_eYpftBZoHN10MMdEfx9AY</string>
	<key>GCM_SENDER_ID</key>
	<string>675662814721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebase</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-worksho-2c972</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-worksho-2c972.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675662814721:ios:66ed8827dd6cc55d27ea00</string>
</dict>
</plist>